body {
  font-family: sans-serif;
  background-color: #f0f4f8;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: white;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  width: 300px;
  text-align: center;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: black;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
  cursor: pointer;
}

p {
  text-align: center;
  margin-top: 10px;
  font-size: 0.9rem;
  color: black;
}

a {
  color: #2563eb;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.errorMessage{
  color:red;
  font-weight: bolder;
}
.successMessage{
  color: green;
  font-weight: bolder;
}